<h5 class="card-title w-b mt-0">All admins <span class="size"><i class="fas fa-user-friends"></i> <span class="amount">{{ admins.count }}</span></span></h5>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Active</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for e in admins %}
            <tr>
                <td>{{ e.first_name|safe }} {{ e.last_name|safe }}</td>
                <td>{{ e.email|safe }}</td>
                <td>
                    {% if e.is_active %}
                        <strong class="text-primary"><i class="fa fa-check mr-1"></i> Yes</strong>
                    {% else %}
                        <strong class="text-danger"><i class="fas fa-times mr-1"></i> No</strong>
                    {% endif %}
                </td>
                <td class="text-right">
                    <div class="row-actions">
                        <button class="btn btn-blank-default btn-sm ml-1" type="button" data-toggle="modal" data-target="#actionModal" onclick="loadEditForm({{ e.id|safe }});"><i class="far fa-edit mr-1"></i> Edit</button>
                        {% if not e.is_company_owner %}<button class="btn btn-blank-danger btn-sm ml-1" type="button" data-toggle="modal" data-target="#actionModal" onclick="loadDeleteForm({{ e.id|safe }});"><i class="far fa-trash-alt"></i></button>{% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
