{% extends "user/base-login.html" %}
{% load crispy_forms_tags static company_tags %}

{% block title %}Profile Builder{% endblock %}

{% block pagetitle %}Profile Builder <small>2/4</small>{% endblock %}

{% block content %}
<nav class="nav step-wizard">
  <a class="nav-link" href="{% url 'organization-step-1' %}">1. Company</a>
  <a class="nav-link active">2. Legal Register</a>
  <a class="nav-link disabled">3. Sectors</a>
  <a class="nav-link disabled">4. Requirements</a>
</nav>
<h2 class="page-subtitle">What legal register would you like to create?</h2>
<form method="post" action="{% url 'organization-step-2-update' %}">
{{form.media}}
{% csrf_token %}
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="card box">

            <h5 class="card-title">Select topics</h5>
                <div class="row">
                    {% for pk, choice in form.topics.field.widget.choices %}
                      {% with active=pk.value|is_topic_active %}
                      <div class="col-md-12 col-sm-12">
                        <div class="form-check">
                            <input class="form-check-input" {% if pk|in_list:form.topics.value %}checked{% endif %} type="checkbox" {% if active %}id="id_{{form.topics.name}}_{{ forloop.counter0 }}" name="{{form.topics.name}}" value="{{pk}}"{% else %}value="" disabled="disabled"{% endif %} />
                            <label class="form-check-label" for="id_{{form.topics.name}}_{{ forloop.counter0 }}" {% if active %}style="font-weight: bold"{% endif %}>{{ choice|safe }} {% if not active %}<span class="text-primary">(coming soon)</span>{% endif %}</label>
                        </div>
                      </div>
                      {% endwith %}
                    {% endfor %}
                </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <div class="card box">
            <h5 class="card-title">Select location</h5>

                <div class="row">
                    {% for pk, choice in form.locations.field.widget.choices %}
                     {% with active=pk.value|is_location_active %}
                      <div class="col-md-12 col-sm-12">
                        <div class="form-check">
                            <input class="form-check-input" {% if pk|in_list:form.locations.value %}checked{% endif %} {% if active %} id="id_{{form.locations.name}}_{{ forloop.counter0 }}" name="{{form.locations.name}}" value="{{pk}}" {% else %} value="" disabled="disabled" {% endif %} type="checkbox"  />
                            <label class="form-check-label" for="id_{{form.locations.name}}_{{ forloop.counter0 }}" {% if active %}style="font-weight: bold"{% endif %}>{{ choice|safe }} {% if not active %}<span class="text-primary">(coming soon)</span>{% endif %}</label>
                        </div>
                      </div>
                       {% endwith %}
                    {% endfor %}
                </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12">
        <div class="card box">
            <div class="action-btns">
                <a href="{% url 'logout' %}" class="btn btn-blank btn-lg float-left"><i class="fas fa-sign-out-alt mr-3"></i></i> Logout</a>
                <a  class="btn btn-blank btn-lg" href="{% url 'organization-step-1-update' %}"><i class="fas fa-arrow-left mr-3"></i> Back</a>
                <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-arrow-right mr-3"></i></i> Next</button>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock content %}
