{% extends "user/base-login.html" %}
{% load crispy_forms_tags static company_tags %}

{% block title %}Profile Builder{% endblock %}

{% block pagetitle %}Profile Builder <small>4/4</small>{% endblock %}

{% block content %}
<nav class="nav step-wizard">
  <a class="nav-link" href="{% url 'organization-step-1' %}">1. Company</a>
  <a class="nav-link" href="{% url 'organization-step-2-update' %}">2. Legal Register</a>
  <a class="nav-link" href="{% url 'organization-step-3-update' %}">3. Sectors</a>
  <a class="nav-link active">4. Requirements</a>
</nav>
<h2 class="page-subtitle">Would you like to add other requirements to your register?</h2>
<form method="post" action="{% url 'organization-step-4-update' %}">
{{form.media}}
{% csrf_token %}
<div class="card box">
    <h5 class="card-title">Select all that applies <small>(Not required)</small></h5>
    <div class="row">
        {% for pk, choice in form.req.field.widget.choices %}
          <div class="col-md-4 col-sm-6">
            <div class="form-check">
                <input class="form-check-input" {% if pk|in_list:form.req.value %}checked{% endif %} type="checkbox" id="id_{{form.req.name}}_{{ forloop.counter0 }}" name="{{form.req.name}}" value="{{pk}}" />
                <label class="form-check-label" for="id_{{form.req.name}}_{{ forloop.counter0 }}">{{ choice|safe }}</label>
            </div>
          </div>
        {% endfor %}
    </div>
</div>
<div class="card box">
    <div class="action-btns">
        <a  class="btn btn-blank btn-lg" href="{% url 'organization-step-3-update' %}"><i class="fas fa-arrow-left mr-3"></i> Back</a>
        <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-check mr-3"></i></i> Finish</button>
    </div>
</div>
</form>
{% endblock content %}
