{% load static i18n %}

<nav class="sidebar">
    <ul class="sidebar-menu">

        {% if request.user.company and request.user.company.specqgenerated and request.user.company.selectplan %}
        <li class="menu-item mb">
            <a href="{%  url 'panel' %}" class="menu-link">
                Dashboard
            </a>
        </li>
        {% endif %}

        {% if request.user.company and not request.user.company.selectplan %}
        <li class="menu-item">
            <a href="{% url 'organization-step-1' %}" class="menu-link">
                Build My Legal Register
            </a>
        </li>
        {% endif %}

        {% if request.user.company and request.user.company.active   %}
            {% if request.user.company.specqgenerated and request.user.company.selectplan %}
        <li class="menu-item">
            <a href="{% url 'legislation-topics' %}" class="menu-link">
                My Legislation
            </a>
        </li>
        <li class="menu-item">
            <a href="{% url 'additional-non-conformance' %}" class="menu-link">
                Non Conformances
            </a>
        </li>
        <li class="menu-item">
            <a href="{% url 'leg-list' %}" class="menu-link">
                Reports
            </a>
        </li>
        {% endif %}
        <li class="menu-item">
            <a href="{% url 'guidance-list' %}" class="menu-link">
                Guidance
            </a>
        </li>
        {% endif %}
        <h3>Help</h3>
        <li class="menu-item">
            <a href="{% url 'tips-list' %}" class="menu-link">
                FAQs
            </a>
        </li>
        <!--
        <li class="menu-item">
            <a href="{% url 'tips-list' %}" class="menu-link">
                System FAQs
            </a>
        </li>
        <li class="menu-item">
            <a href="{% url 'tips-list' %}" class="menu-link">
                Health & Safety FAQs
            </a>
        </li>
        -->
        {% if request.user.company and request.user.is_company_owner and request.user.company.active %}
        <h3>Account</h3>
        <li class="menu-item">
            <a href="{% url 'subscription' %}" class="menu-link">
                Subscription
            </a>
        </li>
        <li class="menu-item">
            <a href="{% url 'organization-update' %}" class="menu-link">
                Organisation Details
            </a>
        </li>
        <li class="menu-item">
            <a href="{% url 'organization-admins' %}" class="menu-link">
                Manage Users
            </a>
        </li>
        {% endif %}
    </ul>
    <div class="sidebar-footer">
        <div class="links">
            <a href="mailto:info@armour.ai">
                Contact
            </a>
            -
            <a href="/terms"  target="_blank">
                Terms
            </a>
            -
            <a href="/privacy"  target="_blank">
                Privacy
            </a>
        </div>
        <div class="copyright">
            © Armour Global Ltd 2020
        </div>
    </div>
</nav>
