{% extends "user/base-login.html" %}
{% load crispy_forms_tags static %}

{% block title %}Reset Password{% endblock %}
{% block pagetitle %}Reset Password{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'login' %}">Login Page</a></li>
{% endblock %}

{% block content %}
<div class="card box">
    <div class="row justify-content-center box-hero">
        <div class="col-md-6 col-sm-12">
            <div class="hero-message">
                <i class="far fa-paper-plane"></i>
                <h2>Success</h2>
                <p>A password reset link has been sent to your email address.</p>
            </div>
        </div>
    </div>
</div>
<div class="card box">
    <div class="action-btns">
            <a href="{% url 'home' %}" class="btn btn-blank btn-lg"><i class="fas fa-home mr-3"></i> Homepage</a>
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg"><i class="fas fa-check mr-3"></i> Login</a>
    </div>
</div>
{% endblock content %}
