{% extends "user/base-login.html" %}

{% block title %}Reset Password{% endblock %}
{% block pagetitle %}Reset Password{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'login' %}">Login Page</a></li>
{% endblock %}

{% block content %}
<div class="card box">
    <form class="ui large form" method="post" action="{% url 'reset-password' %}">
    {{form.media}}

    {% if form.errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
    {% endif %}

    {% csrf_token %}
    <div class="row justify-content-center box-hero">
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label>{{ form.email.label }}</label>
                        <div class="input-group-append">
                            {{ form.email }}
                            <div class="input-group-text"><i class="fas fa-user"></i></div>
                        </div>
                        {% for error in form.email.errors %}
                        <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                            {{ form.captcha }}
                            {% for error in form.captcha.errors %}
                                     <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div>
                            {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <a href="{% url 'home' %}" class="btn btn-blank btn-lg mt-3"><i class="fas fa-times mr-3"></i> Cancel</a>
                </div>
                <div class="col-md-6 col-sm-12">
                    <button type="submit" class="btn btn-primary btn-lg mt-3"><i class="fas fa-check mr-3"></i> Reset password</button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

{% endblock %}
