<style type="text/css">
    body {
        font-family: 'Source Sans Pro', sans-serif;
        padding: 40px;
        margin: 0;
        background-color: white;
        color: #003F5B;
        font-size: 14px;
    }

    h1, h2, h3 {
        font-family: 'Oswald', sans-serif;
    }
    h1 {
        font-size: 38px;
        color: #003F5B;
        text-align: center;
        margin: 20px 0;
    }
    h4 {
        font-size: 22px;
        color: #006491;
        margin: 0;
    }
    h4 small {
        margin-left: 5px;
        font-size: 16px;
        color: #6E7B88;
        font-weight: bold;
    }
    h5 {
        font-size: 18px;
        font-weight: 400;
        margin: 20px 0;
    }
    h6 {
        background: #e2edf3;
        font-size: 18px;
        margin: 20px 0 0;
        padding: 8px 0;
    }
    p {
        margin: 0 0 10px;
    }

    .text-left {
        text-align: left !important;
    }
    .text-right {
        text-align: right !important;
    }
    .text-center {
        text-align: center !important;
    }
    .text-muted {
        color: #6E7B88 !important;
    }
    .text-primary {
        color: #003F5B !important;
    }
    .text-color {
        color: #006491 !important;
    }
    .text-info {
        margin-top: 10px;
        color: #6E7B88;
        font-weight: 400;
    }

    .company-logo {
        height: 80px;
        width: auto;
    }
    .logo {
        display: block;
        width: 240px;
        height: auto;
        margin-top: 10px;
    }
    table {
        width: 100%;
        border-spacing: 0;
    }
    table td, table th {
        padding: 0;
        vertical-align: top;
        page-break-inside: avoid;
    }
    table tr {
        page-break-inside: avoid !important;
    }
    table td p {
        margin-bottom: 5px;
    }
    table td p:last-of-type {
        margin-bottom: 0;
    }
    table td .icon {
        display: inline-block;
        margin-right: 5px;
        height: 20px;
        width: auto;
        vertical-align: text-bottom;
    }
    table td .status {
        display: inline-block;
    }
    .table-fixed {
      table-layout: fixed;
    }
    .table-striped {
        margin-bottom: 40px;
    }
    .table-striped td {
        border-bottom: 1px dashed #DCE2E9;
        padding: 8px 5px;
        color: #6E7B88;
    }
    .table-striped th {
        border-bottom: 1px solid #006491;
        padding: 8px 5px;
        color: #006491;
        text-align: left;
    }
    .table-striped td:last-of-type, .table-striped th:last-of-type {
        padding-right: 0;
    }
    .table-striped td:first-of-type, .table-striped th:first-of-type {
        padding-left: 0;
    }
</style>
