{% load static %}
<form action="{%  url 'legislation-delete' pk=object.pk %}" method="post" id="action-form">
    {% csrf_token %}
    {{ form.media }}
    <div class="modal-header">
        <h5 class="modal-title">Delete legislation</h5>
        <button type="button" id="action-close" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h4 class="modal-title">Are you sure want to delete?</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-blank" data-dismiss="modal"><i class="fas fa-times mr-2"></i> Cancel</button>
        <button type="submit" class="btn btn-primary"><i class="far fa-trash-alt mr-2"></i> Confirm</button>
    </div>
</form>
