{% extends "base-auth.html" %}
{% load crispy_forms_tags static company_tags %}

{% block title %}Legal Register Builder{% endblock %}

{% block pagetitle %}Legal Register Builder <small>Finished</small>{% endblock %}

{% block content %}
<div class="card box">
  <div class="row justify-content-center box-hero">
      <div class="col-md-6 col-sm-12">
          <div class="hero-message">
              <i class="far fa-check-circle text-secondary"></i>
              <h2>Success</h2>
              <p class="text-secondary">Congratulations your legal register has been created!</p>
              <div class="hero-details">
                  <h5>There are {{ count }} legal and other requirements applicable to your company</h5>
                  <h5 class="mt-4">Your register(s):</h5>
                  <ul>
                      {% for p in  request.user.company.gen_price_pos %}
                      <li>{{ p.location.name }}, {{ p.topic.name }}</li>
                      {%  endfor %}
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="card box">
    <div class="action-btns">
        <a href="{% url 'select-your-plan' %}" class="btn btn-primary btn-lg" onclick="return true;"><i class="fas fa-check mr-3"></i> See my register</a>
    </div>
</div>
{% endblock content %}
